.tech-header {
  background-image: url('https://airbus-h.assetsadobe2.com/is/image/content/dam/corporate-topics/innovation/Innovation-future-technology.jpg?wid=1920&fit=fit,1&qlt=85,0');
}

.business-header {
  background-image: url('https://haskayne.ucalgary.ca/sites/default/files/styles/ucws_hero_cta_desktop_short/public/2019-09/Banner_block_Tall_1500_600_DBA_Apply_Online2.jpg?itok=WL1MUQqM');
}

.my-card-body {
  display: flex;
}

.my-card-news {
  margin-left: 20px;
}

.my-card-img {
  width: 250px;
  height: 150px;
  border-radius: 5px;
}

body {
  background-color: #efefef;
}

@media only screen and (max-width: 600px) {
  .my-card-body {
    display: block;
    text-align: justify;
    padding: 0 auto;
  }
  .my-card-img {
    margin-left: 10%;
    width: 80%;
    height: 200px;
  }
  .my-card-news {
    margin-left: 0px;
  }
}
